[submodule "lib/ks-common-sc"]
	path = lib/ks-common-sc
	url = https://github.com/KyberNetwork/ks-common-sc
[submodule "lib/ks-allowance-hub"]
	path = lib/ks-allowance-hub
	url = https://github.com/KyberNetwork/ks-allowance-hub
